<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
	<body>
        <form action="{{ url_for('image') }}" method="POST" enctype="multipart/form-data">
            <div>
                Auth Token <input type="text" id="auth-token" name="_auth_token" placeholder="auth token">
            </div><br>
            <div>
                user rate (Int) <input type="text" id="user-rate" name="rate" placeholder="user rate">
            </div><br>
            <div>
                Thermal Image file url: <input type="text" name="justimage" placeholder="url here">
            </div><br>
            <div>
                Thermal Temperature file url: <input type="text" name="temperature" placeholder="url here">
            </div><br>
            <div>
                <input type="submit">
            </div>
        </form>
	</body>
		<script type="text/javascript"
				src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='upload.js') }}"></script>
</html>